.package-title{
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    color: #707070;
}

.header{
    position: fixed;
    width:100vw;
    height: 72px;
    background-color: white;
}

h1{
    line-height: 20px;
    
}