// .rating {
//     //background: yellow;
//     // Rating: Disabled ;
//     //color: red;
//     color: #ef9771;
//     color: #cfc5c5;

    
// }


*{
    margin: 0px;
    padding: 0px;
}

ul{
    li.filled{
        color: #ef9771;
    }
    //  li.notfilled{
    //      color: #cfc5c5;
    //  }
    display: block;
    float:left;
    list-style: none;
    margin: 10px;
}
